@import 'settings';
@import 'foundation-emails';

@import 'template/template';

table.container {
    a {
        img {
            display: inline-block;
        }
    }
    &.bg-gray {
        background-color: #464646;
        small {
            font-size: 10px;
            // color: #ffffff;
            .black-text {
                color: #0a0a0a;
            }
            a {
                color: #0a0a0a;
                text-decoration: underline;
            }
        }
    }
    &.bg-darkgray {
        background-color: #232323;    
        small {
            color: #0a0a0a;
        }
    }
    &.bg-black {
        background-color: #060606;  
        p {
            color: white;
        }
        small {
            font-size: 8px;
            color: #bbbbbb;
            a {
                color: #bbbbbb;
                text-decoration: underline;
            }
        }  
    }
}