{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{subject}}</title>
  <!-- <style> -->
</head>
<body>
  <span class="preheader">{{description}}</span>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

            {{> body}}

            <container class="bg-gray">
              <spacer size="10"></spacer>
              <row>
                <columns small="6" style="padding-bottom: 0px;">
                  <p class="text-left" style="margin-bottom: 0px;">
                    <img src="{{root}}assets/img/socialtext.png" alt="Follow us on" style="display: inline-block; margin-bottom: 5px;">
                  </p>
                </columns>
                <columns small="6" style="padding-bottom: 0px;">
                  <p class="text-right" style="margin-bottom: 0px;">
                    <img src="{{root}}assets/img/apptext.png" alt="ทุกคำตอบของข้อสงสัย-และบริการหลังการขาย-แค่โหลด" style="display: inline-block; ">
                  </p>
                </columns>
              </row>
              <row>
                <columns small="9" style="padding-bottom: 0px;">
                  <p class="text-left" style="margin-bottom: 0px; margin-top: 5px; line-height: 0px;">
                    <a style="display:inline-block;" href="https://www.facebook.com/samsungthailand/?cid=_email_-Facebook-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518" target="_blank"><img src="{{root}}assets/img/facebook.png" alt="Samsung Facebook"></a>
                    <a style="display:inline-block;" href="https://www.youtube.com/user/samsungthailand?cid=_email_-Youtube-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518" target="_blank"><img src="{{root}}assets/img/youtube.png" alt="Samsung Youtube"></a>
                    <a style="display:inline-block;" href="https://line.me/R/ti/p/%40samsungth?cid=_email_-Line-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518" target="_blank"><img src="{{root}}assets/img/line.png" alt="Samsung Line"></a>
                  </p>
                  <p class="text-left" style="margin-bottom: 0px; margin-top: 0px; line-height: 0px;">
                    <a style="display:inline-block;" href="https://www.facebook.com/samsungmobilethailand/?cid=_email_-Facebook-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518" target="_blank"><img src="{{root}}assets/img/facebook2.png" alt="Samsung Facebook"></a>
                    <a style="display:inline-block;" href="https://www.youtube.com/user/ThaiSamsungMobile?cid=_email_-Youtube-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518" target="_blank"><img src="{{root}}assets/img/youtube2.png" alt="Samsung Youtube"></a>
                    <a style="display:inline-block;" href="https://line.me/R/ti/p/%40samsungmobileth?cid=_email_-Line-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518" target="_blank"><img src="{{root}}assets/img/line2.png" alt="Samsung Line"></a>
                  </p>
                </columns>
                <columns small="3" style="padding-bottom: 0px;">
                  <p class="text-right">
                    <a href="https://www.mysamsung.com/th/?cid=_email_-mySamsung-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518" target="_blank"><img src="{{root}}assets/img/app.png" alt="Samsung App"></a>
                  </p>
                </columns>
              </row>
            </container>

            <container class="bg-black">

              <spacer size="16"></spacer>

              <row>
                <columns small="12">
                  <img src="{{root}}assets/img/tcs.png" alt="Terms and Conditions">
                </columns>
              </row>

              <row>
                <columns small="12">
                  <small>ข้อความนี้ถูกส่งไปในนามของ Samsung Thailand คุณได้ทำการอนุญาตให้เราติดต่อคุณทางอีเมล หากคุณไม่ประสงค์ที่จะรับจดหมายจากเรา กรุณาคลิกที่ <a target="_blank" href="http://membership.samsung.com/sec/common/optout.html?cid=_email_-Unsubscribe-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518">ลิงค์ หรือ Unsubscribe</a> นี้ เพื่อยกเลิก อ่านข้อมูลเพิ่มเติมเกี่ยวกับนโยบายความเป็นส่วนตัวได้ที่ <a target="_blank" href="http://www.samsung.com/th/info/privacy/?cid=_email_-Privacy-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518">http://www.samsung.com/th/info/privacy.html</a> ดูข้อมูลเกี่ยวกับข้อตกลงและเงื่อนไขได้ที่ <a target="_blank" href="http://www.samsung.com/th/info/legal/?cid=_email_-Legal-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518">http://www.samsung.com/th/info/legal.html</a><br /><br />
                  You are receiving this email because you have signed-up for a Samsung Account. <a target="_blank" href="http://membership.samsung.com/sec/common/optout.html?cid=_email_-Unsubscribe-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518">Click here</a> to unsubscribe from this mailing list We have updated our Privacy Policy. For more details <a target="_blank" href="http://www.samsung.com/th/info/privacy/?cid=_email_-Privacy-eDM_av-QLED-QLEDeDMStudiostandpromo_20170518">click here</a></small>
                </columns>
              </row>

            </container>

        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>

